body {
    background: #fff;
    margin: 0;
    overflow-x: hidden;
    color: #67757c;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    color: #455a64 !important;
    font-weight: 400;
    margin-bottom: .5rem;
    margin-top: 0;
}

h3 {
    line-height: 30px;
    font-size: 21px;
}

/*******************
Error Page
******************/
.error-box {
    height: 100%;
    position: fixed;
    background-color: #fdf8f5;
    width: 100%; 
}

.error-box .footer {
    width: 100%;
    left: 0px;
    right: 0px; }

.error-body {
    padding-top: 5%; 
}

.error-body h1 {
    font-size: 210px;
    font-weight: 900;
    text-shadow: 4px 4px 0 #ffffff, 6px 6px 0 #263238;
    line-height: 210px; 
}

.text-muted {
    color: #99abb4 !important;
}

html body .m-b-30 {
    margin-bottom: 30px;
}

html body .m-t-30 {
    margin-top: 30px;
}

.footer {
    bottom: 0;
    color: #67757c;
    left: 0px;
    padding: 17px 15px;
    position: absolute;
    right: 0;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    background: #ffffff;
}